* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.container h1 {
 font-size: 48px;
}

.title{
 position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.titleAlmoxarifado{
  font-size: 32px;
  padding-bottom: 32px;
}

.hrr{
  border-top: 1px solid #ccc;
    margin: 10px 0; 
    margin-top: 20px;
    width: 100%;
}

  .container {

    color: #fff;
    padding-top: 100px;
  /*  background: url('/src/Components/Assets/background.png') no-repeat;
    background-size: cover;
    background-position: center; */
    width: 96vw;
    overflow-x: hidden;
  }
  
  .home-content {
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
  
  .home-content img {
    max-width: 50vh;
  }
  
  @media screen and (max-width: 758px) {
    .container h1 {
      display: none;
    }
  
    .astronautinha {
      display: none;
    }
  
    .home-content{
      justify-content: center;
      padding-top: 88px;
      padding-bottom: 48px;
    }
  }
  