/* Estilos para dispositivos móveis */
/* Estilos para dispositivos móveis */
@media screen and (max-width: 758px) {
  .button-group {
    text-align: center; /* Centraliza os botões horizontalmente */
  }

  .purple-button {
    display: inline-block; /* Garante que os botões ocupem apenas o tamanho necessário */
    background-color: #502961; /* Cor de fundo dos botões */
    color: #fff; /* Cor do texto dos botões */
    padding: 15px 30px; /* Espaçamento interno dos botões */
    margin: 0 auto 10px; /* Centraliza e adiciona espaçamento entre os botões */
    border: none; /* Remove a borda dos botões */
    border-radius: 5px; /* Arredonda as bordas dos botões */
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s; /* Adiciona uma transição suave de cor de fundo */
    text-decoration: none;
    width: calc(100% - 20px); /* Garante que os botões ocupem toda a largura disponível e considera a margem */
  }

  .purple-button:hover {
    background-color: #3b1d49; /* Cor de fundo dos botões ao passar o mouse */
  }
}


/* Estilos para desktops */
@media screen and (min-width: 759px) {
  .button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .button-row {
    display: flex;
    margin-bottom: 10px;
  }
  
  .purple-button {
    background-color: #502961;
    color: #fff;
    padding: 15px 30px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 1.5s ease;
    text-decoration: none; 
  }
  
  .purple-button:hover {
    background-color: #3b1d49;
  }
  
  .button-text {
    margin-left: 5px;
  }
}
